.pokemonDetails {
  padding: 24px;
  position: sticky;
  top: 24px;
  z-index: 5;
}

.aboutPokemon {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}
